<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

  <div class="col-12 col-lg-6">
    <div id="blob"></div>
    <img src="/img/home1.jpeg" width="607" height="510" class="main d-block mx-lg-auto img-fluid" loading="lazy" alt="Fit with Node.js">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Our favorite and most effective workouts</h1>
    <p class="lead">
      Discover the vast selection of our favorite and most effective workouts including the following training categories: hypertrophy, mobility, strength, movement, and muscular-endurance.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Random WOD</a>
    </div>
  </div>
  
</div>

<!-- Categories Start -->
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/hypertrophy.jpeg" alt="Hypertrophy Training" loading="lazy">
    </div>
    <div class="pt-1">Hypertrophy</div>
  </a>

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/mobility.jpeg" alt="Mobility Training" loading="lazy">
    </div>
    <div class="pt-1">Mobility</div>
  </a>

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/movement.jpeg" alt="Movement Training" loading="lazy">
    </div>
    <div class="pt-1">Movement</div>
  </a>

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/strength.jpeg" alt="Strength Training" loading="lazy">
    </div>
    <div class="pt-1">Strength</div>
  </a>

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/muscular-endurance.jpeg" alt="Muscular Endurance Training" loading="lazy">
    </div>
    <div class="pt-1">Muscular Endurance</div>
  </a>

</div>
<!-- Categories End -->

<!-- Latest Start -->
<section class="pb-4 pt-4">

  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Workouts</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-4 row cols-lg-5 g-2 g-lg-3">

    <a href="/workout/#" class="col text-center category__link">
      <div class="category__img shadow category__img--large">
        <img src="/img/upper-one.jpeg" alt="Upper One">
      </div>
      <div class="pt-1">Upper One</div>
    </a>

    <a href="/workout/#" class="col text-center category__link">
      <div class="category__img shadow category__img--large">
        <img src="/img/lower-one.jpeg" alt="Lower One">
      </div>
      <div class="pt-1">Lower One</div>
    </a>

    <a href="/workout/#" class="col text-center category__link">
      <div class="category__img shadow category__img--large">
        <img src="/img/upper-two.jpeg" alt="Upper Two">
      </div>
      <div class="pt-1">Upper Two</div>
    </a>

    <a href="/workout/#" class="col text-center category__link">
      <div class="category__img shadow category__img--large">
        <img src="/img/lower-two.jpeg" alt="Lower Two">
      </div>
      <div class="pt-1">Lower Two</div>
    </a>

  </div>

</section>
<!-- Latest End -->

<!-- Submit Start -->
<section class="px-4 py-5 my-5 text-center submit">
  <h1 class="display-5 fw-bold">Post YOUR workout for us all</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Throw your workout in the mix and let's get after it.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-workout" class="btn btn-primary btn-dark btn-lg">Submit Workout</a>
    </div>
  </div>
</section>
<!-- Submit End -->