:root {
    --bs-font-sans-serif: 'Ubuntu', sans-serif;
}

body { 
    /* background-color: rgb(243, 243, 243);  */
    background-image: linear-gradient(rgba(243, 243, 243, 0.65), rgba(243, 243, 243, 0.65)), url('/img/background.jpeg');
    background-size: 15%;
}

a { 
    color: var(--bs-dark); 
}

/* Main Image and Blob */
img.main.d-block{
    border-radius: 60% 30% / 60% 30%; 
    position: relative;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.11;
    }
    
    to {
      rotate: 360deg;
    }
  }

#blob {
    background-color: black;
    height: 575px;
    aspect-ratio: 1;
    position: absolute;
    /* left: 50%; */
    border-radius: 50%;
    background: linear-gradient(
        to right,
        rgba(248, 95, 35, 0.7),
        rgba(105, 55, 241, 0.7)
    );
    animation: rotate 20s infinite;
}

/* Category Card */
.category__link {
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1)
}

.category__img img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 5%;
  object-fit: cover;
}

.category__img.opacity {
  opacity: 0.5;
}